body{
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    position: fixed;
    top: 0;
    z-index: 1;    
    min-width: 100vw;    
}
.links-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    width: 80%;
    margin: 0 auto;
}
.logo-ale{
    width: 60px;
}

.nome-logo{
    text-decoration: none;
    font-family: 'League Script', cursive;
    font-weight: bold;
    font-size: 50px;
    color: #F84AA7;
}

.link{
    text-decoration: none;
    margin-left: 10px;
    font-size: 20px;
    color: #F84AA7;
    font-family: 'Montserrat', sans-serif;
}

.nome{
    height: calc(100vh - 50px);
    background: linear-gradient(rgba(0, 0, 0, 0.164), rgba(0, 0, 0, 0.13)), url(../img/bg-inicial.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;   
    font-family: 'Montserrat', sans-serif;
}

.section-h1{
    display: flex;
    justify-content: space-between;
    color: #F84AA7;
    align-items: center;
    justify-content: center;
    margin:0;
    font-size: 100px;
}

.comeco{
    background-color: aqua;
    height:500px;
    margin:0 auto;
    font-family: 'Montserrat', sans-serif;
}

.senai{
    background-color: violet;
    height:500px;
    margin:0 auto;
    font-family: 'Montserrat', sans-serif;
}

.faculdade{
    background-color: rgb(46, 112, 167);
    height:500px;
    margin:0 auto;
    font-family: 'Montserrat', sans-serif;
}

.eh{
    background-color: rgb(28, 212, 151);
    height:500px;
    margin:0 auto;
    font-family: 'Montserrat', sans-serif;
}

