body{
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    position: fixed;
    top: 0;
    z-index: 1;    
    min-width: 100vw;    
    box-shadow: 0 8px 8px 1px rgba(0, 0, 0, 0.219);
}

.links-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    width: 80%;
    margin: 0 auto;
}
.logo-ale{
    width: 60px;
}

.nome-logo{
    text-decoration: none;
    font-family: 'League Script', cursive;
    font-weight: bold;
    font-size: 50px;
    color: #F84AA7;
}

.link{
    text-decoration: none;
    margin-left: 10px;
    font-size: 20px;
    color: #F84AA7;
    font-family: 'Montserrat', sans-serif;
}

.nome{
    height: calc(100vh - 50px);
    background: linear-gradient(rgba(0, 0, 0, 0.164), rgba(0, 0, 0, 0.13)), url(../img/bg-inicial.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;   
    font-family: 'Montserrat', sans-serif;
}

.section-h1{
    display: flex;
    justify-content: space-between;
    color: #F84AA7;
    align-items: center;
    justify-content: center;
    margin:0;
    font-size: 100px;
}

.comeco{
    background-color: aqua;
    height:500px;
    margin:0 auto;
    font-family: 'Montserrat', sans-serif;
}

.senai{
    background-color: violet;
    height:500px;
    margin:0 auto;
    font-family: 'Montserrat', sans-serif;
}

.faculdade{
    background-color: rgb(46, 112, 167);
    height:500px;
    margin:0 auto;
    font-family: 'Montserrat', sans-serif;
}

.eh{
    background-color: rgb(28, 212, 151);
    height:500px;
    margin:0 auto;
    font-family: 'Montserrat', sans-serif;
}


@media screen and (max-width: 750px){
    nav{
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: absolute;
        top: 50px;
        height: 70vh;
        width: 80vw;
        background-color: whitesmoke;
        right: 0;
        transition: 0.8s;
        transform: translateX(100%);
        z-index: 10;
    }

    nav a{
        width: 50%;
        text-align: center;
        margin: 0 2vw;
        padding: 10px 14px;
        box-sizing: border-box;
        color: black;
        border-bottom: 0.5px solid black;
    }

    nav a:hover{
        color: black;
    }

    .button:hover{
        background-color: #00AAF4;
    }

    .navClick{
        transform: translateX(0);

    }
    .burguer{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 50px;
        width: 50px;
        margin-right: 2vw;
    }

    .barra{
        height: 1px;
        width: 25px;
        background-color: black;
        transition: .5s;
    }

    .barra:nth-child(2){
        margin: 7px;
    }

    .barrinha{
        position: absolute;
        transform: rotate(135deg);
    }

    .barrinha:nth-child(2){
        margin: 0;
        transform: rotate(-135deg);
    }

}

